<div class="container ">
  <div class="banner col-lg-12 col-md-12 col-sm-12">
    <img alt="">
  </div>
  <div class="container">
    <div class="content text-center col-lg-12 col-md-12 col-sm-12 my-4">
      <h3 class="tyle">UPGRADE YOUR STYLE</h3>
      <p class="text-center">Hyde delivers professionally styled and complete outfits on your schedule. Keep the clothes
        for a week, return
        when you’re done, and receive your next box. Simple.</p>
      <br>
      <p class="para">No contracts. No dry cleaning. Complimentary shipping.</p>
    </div>
  </div>


  <div class="container-fluid">
    <div class="row ">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <img class="img-fluid" src="../../../assets/2-1.jpg" alt="" >
      </div>
      <div class=" color1 col-lg-6 col-md-6 col-sm-12">
            <h3>Get your Fit</h3>
            <br>
            <p class="para">
              *Schedule a free 15-min Zoom call with one of our professional stylists for a time that suits you. During
              the call, your stylist will get to know you better, your go-to styles, the things you do and like to do,
              your sizes, and anything special coming up...<br>
              Don’t worry if you don’t know your sizes, your stylist will be supported by our AI, and some simple
              questions will nail your fit perfectly — every time. If you don’t know your sizes, don’t worry - our
              stylists will do a video call, or even visit you in person!
            </p>
      </div>
    </div>
    <div class="row my-3">
      <div class=" color1 col-lg-6 col-md-6 col-sm-12"></div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <img class="img-fluid" src="../../../assets/3-1.jpeg" alt="" height=" 650px" />
      </div>
    </div>
    <div class="row my-3">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <img class="img-fluid  " src="../../../assets/4-1.jpg" alt="" height=" 650px" />

      </div>
      <div class=" color1 col-lg-6 col-md-6 col-sm-12">
        <div class="">
          <div class="align-self-center">
            <h3 class="blue">Look for the best</h3><br>
            <p class="para">
              We will deliver a complete outfit to you within 3-5 business days (expedited 2 day delivery available).
              <br><br>
              We ship nationwide, and it’s always free.
              <br><br>
              An outfit will always include:
              <br><br><br>

              - Trousers/Jeans - 2 Shirts
              <br>
              - Outwear (when seasonal)<br>
              - Shoes<br>
              - Accessories (e.g. sunglasses)<br>
              - Cologne<br>
              - Belt<br>
            </p>

          </div>
        </div>
      </div>
    </div>
    <div class="row my-3">
      <div class=" color1 col-lg-6 col-md-6 col-sm-12">
        <div class="">
          <div class="align-self-center">
            <h3 class="blue">Easy Return</h3><br>
            <br>
            <p class="para">
              Each box contains a return shipping label.<br>
              <br>
              As soon as you’re done, just go ahead and put the clothes back in the box and either drop off at your
              closest Fedex, or we will schedule a pick up (free!)
              <br><br>
              We take care of all the dry cleaning and insurance.
              <br><br>
              You don’t need to buy anything, unless you really want to!<br><br>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <img class="img-fluid" src="../../../assets/5-1.jpg" alt="" height=" 650px" />

      </div>
    </div>
  </div>
  <div class="button text-center col-lg-12 col-md-12 col-sm-12">
    <p>
      <a href="./start-today" class="btn btn-info">START HYDE TODAY</a>
    </p>
  </div>
