<div class="container-fluid last ">
  <div class="row pt-2">
    <div class="col align-item-start">
      <div>
        <label for="basic-url" class="form-label">News Letter</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" id="basic-url" placeholder="Email">
          <span class="text-center m-1"><i class="bi bi-arrow-right"></i></span>
        </div>
      </div>
      <p class="para">Got a Question? Want to learn<br>
        more? Or just want free styling<br>
        advice?<br>
        <br>
        You can email us at<br>
        hydedc@hydecloset.com or<br>
        text us at (727) 513-2534‬
      </p>
    </div>
    <div class="col  ">
      <label for="basic-url" class="form-label fs-4">Our Insta Stories</label>
      <p>Follow at @hydecloset</p>
    </div>
    <div class="col">
      <div>
        <label for="basic-url" class="form-label">Track Shipment</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="Track Id">
          <span class="text-center  m-1"><i class="bi bi-arrow-right"></i></span>
        </div>
      </div>

    </div>

  </div>
  <div class="row">
    <div class="col">
      <p class="para">© 2020 Hyde Closet. All Rights Reserved.</p>
    </div>
    <div class="col para list">
      <ul>
        <li> <a href="">Contacts</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Sustainability</a></li>
        <li><a href="">Terms</a></li>
        <li><a href="">Privacy</a></li>
      </ul>
    </div>
    <div class="col para las">
      <ul class="d-flex justify-content-end ">
        <li>Social with us</li>
        <li><a href=""><i class="bi bi-envelope "></i>
        </a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
      </ul>
    </div>
  </div>
</div>
