<div class="text">
    <h1>Our Love Story</h1>
    <p class="para">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
        aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui laborum.</p>
    <div class="botom">
        <div class="last">our story <i class="bi bi-caret-right-fill ripple"><div class="ripple1"></div></i></div>
    </div>
        <div class="about">
            <div class="first">
                <img class="pic1" src="../../../assets/1.jpg" alt="">
                <div class="photo1">
                    <h1>Donna Stevens</h1>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
                </div>
            </div>
            <div class="second">
                <img class="pic2" src="../../../assets/2.jpg" alt="">
                <div class="photo2">
                    <h1>John Lanier</h1>
                    <p>Excepteur sint occaecat cupidatat non proident, suntin culpa qui officia deserunt.</p>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="clock">
        <div class="tm" *ngFor="let item of items">
           <p class="italic">{{item.title}}</p>
           <p class="small">{{item.time}}</p>
        </div>
        </div>


</div>
